[
 {riak_core, [
              {default_bucket_props, 
               [{allow_mult, true}]}
             ]},
 {riak_api, [
             {certfile,   "/vagrant/certs/server.crt"},
             {keyfile,    "/vagrant/certs/server.key"},
             {cacertfile, "/vagrant/certs/ca.crt"}
             ]}
].
