[
 {riak_core, [
              {default_bucket_props, 
               [{allow_mult, true}]}
             ]},
 {riak_api, [
             {certfile,   "/vagrant/certs/cacert.org/ca-cert.pem"},
             {keyfile,    "/vagrant/certs/cacert.org/ca-key.pem"},
             {cacertfile, "/vagrant/certs/cacert.org/ca/root.crt"}
             ]}
].
